# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/
.ipynb_checkpoints
.mypy_cache/

# Django
*.sqlite3 # Penting: Jangan push database lokal Anda!
*.log
local_settings.py # Jika Anda punya file pengaturan lokal terpisah
media/ # Jika Anda menyimpan file media secara lokal dan tidak ingin di-push
staticfiles/ # Penting: folder ini akan dibuat oleh collectstatic

# Vercel / IDE
.vercel/ # Folder konfigurasi Vercel lokal
.vscode/ # Folder konfigurasi VS Code lokal (opsional, tergantung preferensi)
.env # Penting: Jangan pernah push file .env Anda!
media/